@model CourseRegistration.Models.Participant
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title.</h2>
   
    <div class="form-horizontal">
        <h4>Create a New Account</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Register As", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="radio-inline">
                    @Html.RadioButton("registerAs", "IndividualUser", new { id = "IndividualUser", onclick = "showResult(this)" }) IndividualUser
                </div>
                <div class="radio-inline">
                    @Html.RadioButton("registerAs", "CompanyHR", new { id = "CompanyHR", onclick = "showResult(this)" }) CompanyHR
                </div>
                @Html.ValidationMessage("registerAs", new { htmlAttributes = new { @class = "text-danger" } })
            </div>
        </div>
        <div class="form-group" id="RegisterPage">
        </div>
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">
    function showResult(radio) {
        var selected = radio.value;
        if (selected == "IndividualUser") {
            //$("#RegisterPage").load("/Account/RegisterIndividualUser");
            $url = "/Account/RegisterIndividualUser";
        }
        else if (selected == "CompanyHR") {
            // $("#RegisterPage").load("/Account/RegisterCompanyHR");
            $url = "/Account/RegisterCompanyHR";
        }

        $.ajax({
            url: $url,
            dataType: 'html',
            success: function (data) {
                $('#RegisterPage').html(data);
                if (!Modernizr.inputtypes.date) {
                    $(".datecontrol").datepicker();
                }
                $('form').removeData('validator');
                $('form').removeData('unobtrusiveValidation');
                $.validator.unobtrusive.parse('form');
            }
        });
    }
</script>
}
