@model CourseRegistrationSystem.Models.RegistrationViewModel
@using CourseRegistration.Models

@{
    ViewBag.Title = "RegisterClassForHR";
}

<ul class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Class", "Index", "Class")</li>
    <li>@Html.ActionLink(Model.CourseClass.ClassId, "Details", "Class", new { id = Model.CourseClass.ClassId }, new { })</li>
    <li>Registration</li>
</ul>

<h2>@Model.CourseClass.ClassId Class Registration</h2>

<h4>@Model.CourseClass.Course.CourseTitle</h4>

<p>
    @Model.CourseClass.Course.CourseDescription
</p>

<p>Fee: @Model.CourseClass.Course.Fee</p>
<p>Duration: @Model.CourseClass.Course.NumberOfDays days</p>
<p>Start Date: @Model.CourseClass.StartDate.ToString("yyyy-MM-dd") & End Date: @Model.CourseClass.EndDate.ToString("yyyy-MM-dd")</p>

@using (Html.BeginForm("RegisterClassForHR", "Class", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => Model.CourseClass.ClassId)
    
    List<Participant> pList = new List<Participant>();   
    
    <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
            <h3 class="panel-title">Step1: Participant Details</h3>
        </div>
        <div class="panel-collapse collapse in" id="collapse1">
            <div class="panel-body">
                <div>
                    <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal1" data-whatever="add new">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New Participant
                    </button>
                    <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal2" data-whatever="">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add from Employee List
                    </button>
                    <hr />
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div id="newParticipants">

                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div id ="participants">

                        </div>
                    </div>
                    <p class="text-muted">Please add one participant at least.</p>
                </div>         
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
            <h3 class="panel-title">Step2: Bill Details</h3>
        </div>
        <div class="collapse in" id="collapse2">
            <div class="panel-body">
                <div class="form-horizontal">
                    <h4>Billing Address</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.BillingAddress, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.BillingAddress, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.BillingAddress, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.BillingPersonName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.BillingPersonName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.BillingPersonName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.BillingAddressCountry, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.BillingAddressCountry, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.BillingAddressCountry, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.BillingAddressPostalCode, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.BillingAddressPostalCode, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.BillingAddressPostalCode, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModal2Label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Employee List</h4>
                </div>
                <div class="modal-body" id="modal2Body">
                    @foreach (var item in Model.Participants)
                    {
                        <div class="checkbox">
                            <label>
                                @item.FullName <input type="checkbox" value="@item.ParticipantId" name="@item.ParticipantId">
                            </label>
                        </div>
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="empBtn">Comfirm</button>
                </div>
            </div>
        </div>
    </div>
    
     <nav>
        <div class="pager">
            @*<li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Previous</a></li>*@
            @*<li class="next"><a href="#">Register</a></li>*@
            <input class="btn btn-primary" style="float:right;" type="submit" value="Register Now" />
        </div>
    </nav>
}

<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModal1Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">New Participant</h4>
            </div>
            @using (Ajax.BeginForm("CreateParticipant", "Class",new { @id="create" }, new AjaxOptions { OnBegin="createBegin", OnSuccess="createSuccess", OnFailure="createFailure", HttpMethod="POST"}))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("ParticipantList")
                <div class="modal-body">
                    @Html.Partial("CreateParticipant")
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            }
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>



<script>
    var testData = "testData";
    //var participants;
    var curParticipants;

    $(document).ready(function () {
        curParticipants = [];
    });

    //new participant modal
    $('#myModal1').on('show.bs.modal', function (event) {
        //var button = $(event.relatedTarget) // Button that triggered the modal
        //var recipient = button.data('whatever') // Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        //var modal = $(this)
        //modal.find('.modal-title').text(recipient)
        //modal.find('.modal-body p').text(recipient + "description")
    })

    //employeeList modal
    $('#myModal2').on('show.bs.modal', function (event) {
        //$.get('GetEmployeeList', function (response) {
        //    $('#modal2Body').html(response);
        //});

        //var inputs = document.getElementById('participants').getElementsByTagName('input');
        //if (inputs.length != 0) {
        //    for (var i = 0; i < participants.length; i++) {
        //        inputs[i].checked = participants[i].selected;
        //    }
        //}
        
    })

    $('#myModal2').on('hidden.bs.modal', function (event) {
        var inputs = document.getElementById('modal2Body').getElementsByTagName('input');
        for (var i = 0; i < inputs.length; i++) {
            if (inputs[i].type == 'checkbox') {
                inputs[i].checked = false;
            }
        }
        var selected;
        for (var j = 0; j < curParticipants.length; j++) {
            selected = null;
            selected = document.getElementsByName(curParticipants[j]);
            if (selected != null) {
                selected[0].checked = true;
            }
        }
        
    })

    $('#empBtn').click(function (event) {
        changeParticipants();
        $('#myModal2').modal('hide')
    })

    function compare(array1, array2) {
        return (array1.length == array2.length) && array1.every(function (element, index) {
            return element == array2[index]});
    }

    function createBegin() {
        console.log("i am beginning");
        //check if idnumber is existed in local

        var jsonarray = [{ name: "test1" }, { name: "test2" }];
        console.log(jsonarray);
        var json = JSON.stringify(jsonarray);
        console.log(json);
        document.getElementById('ParticipantList').setAttribute('value', json);
    }

    function createFailure(response) {
        //check if existed in db
        alert("Failed to create.")
    }

    function createSuccess(response) {
        console.log("i am successful");
        console.log(response);
    }

    function changeParticipants() {
        var checkedList = new Array();

        //$("input[name='employee']").each(function () {
        //    console($(this).attr('checked'));
        //    if ($(this).attr('checked') == true) {
        //        checkedList.push($(this).attr('value'));
        //    }
        //})

        var inputs = document.getElementById('modal2Body').getElementsByTagName('input');
        for (var i = 0; i < inputs.length; i++) {
            if (inputs[i].type == 'checkbox') {
                if (inputs[i].checked) {
                    checkedList.push(inputs[i].value);
                }
            }
        }
   
        if (checkedList.length !== 0 ) {
            if (!compare(curParticipants,checkedList)) {
                $.post('GetParticipantFromList', $.param({ array: checkedList }, true), function (response) {
                    console.log(response);
                    $('#participants').html(response);
                }).done(function () {
                    curParticipants = checkedList;
                })
            }
        } else {
            curParticipants = checkedList;
            $('#participants').html('<p class="text-muted">Please add one participant at least.</p>');
        }
    }
</script>