@model CourseRegistration.Models.CourseClass

@{
    ViewBag.Title = "RegisterClassForHR";
}

<ul class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Class", "Index", "Class")</li>
    <li>@ViewBag.CourseClass.ClassId</li>
</ul>

<h2>@Model.ClassId Class Registration</h2>

<h4>@Model.Course.CourseTitle</h4>

<p>
    @Model.Course.CourseDescription
</p>

<p>Fee: @Model.Course.Fee</p>
<p>Duration: @Model.Course.NumberOfDays days</p>
<p>Start Date: @Model.StartDate.ToString("yyyy-MM-dd") & End Date: @Model.EndDate.ToString("yyyy-MM-dd")</p>

@{
    var participants = new List<CourseRegistrationSystem.Models.ParticipantViewModel>();
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
            <h3 class="panel-title">Step1: Participant Details</h3>
        </div>
        <div class="collapse" id="collapse1">
            <div class="panel-body">
                <div>
                    <button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New</button>
                    <button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add from your employee list</button>
                    <hr />
                </div>

                @if (participants.Count == 0)
                {
                    <p>There is no participant. Please add one at least.</p>
                }
                else
                {
                    foreach (var p in participants)
                    {
                        <button type="button" class="btn btn-primary btn-lg btn-block">@p.FullName</button>
                    }
                }
            
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
            <h3 class="panel-title">Step2: Bill Details</h3>
        </div>
        <div class="collapse" id="collapse2">
            <div class="panel-body">

            </div>
        </div>
    </div>


    <hr />
    <nav>
        <ul class="pager">
            @*<li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Previous</a></li>*@
            <li class="next"><a href="#">Register</a></li>
        </ul>
    </nav>
}

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">View Upcoming Class</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<script>
    $('#myModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var recipient = button.data('whatever') // Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this)
        modal.find('.modal-title').text(recipient)
        modal.find('.modal-body p').text(recipient + "description")
    })
</script>