@using CourseRegistration.Models

@{
    ViewBag.Title = "RegisterClassForHR";
}

<ul class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Class", "Index", "Class")</li>
    <li>@ViewBag.CourseClass.ClassId</li>
</ul>

<h2>@ViewBag.CourseClass.ClassId Class Registration</h2>

<h4>@ViewBag.CourseClass.Course.CourseTitle</h4>

<p>
    @ViewBag.CourseClass.Course.CourseDescription
</p>

<p>Fee: @ViewBag.CourseClass.Course.Fee</p>
<p>Duration: @ViewBag.CourseClass.Course.NumberOfDays days</p>
<p>Start Date: @ViewBag.CourseClass.StartDate.ToString("yyyy-MM-dd") & End Date: @ViewBag.CourseClass.EndDate.ToString("yyyy-MM-dd")</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
            <h3 class="panel-title">Step1: Participant Details</h3>
        </div>
        <div class="panel-collapse collapse in" id="collapse1">
            <div class="panel-body">
                <div>
                    <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal1" data-whatever="add new">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New Participant
                    </button>
                    <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal2" data-whatever="">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add from Employee List
                    </button>
                    <hr />
                </div>
                <div id="participants">
                    <p class="text-muted">Please add one participant at least.</p>
                </div>         
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
            <h3 class="panel-title">Step2: Bill Details</h3>
        </div>
        <div class="collapse" id="collapse2">
            <div class="panel-body">
                @Html.Partial("CreateBilling");
            </div>
        </div>
    </div>


    <hr />
    <nav>
        <ul class="pager">
            @*<li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Previous</a></li>*@
            <li class="next"><a href="#">Register</a></li>
        </ul>
    </nav>
}

<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModal1Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">New Participant</h4>
            </div>
            @using (Html.BeginForm())
                {
            @Html.AntiForgeryToken()
                <div class="modal-body">
                    @Html.Partial("CreateParticipant");
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            }
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModal2Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Employee List</h4>
            </div>
            <div class="modal-body" id="modal2Body">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="empBtn">Comfirm</button>
            </div>
        </div>
    </div>
</div>

<script>
    var paticipants;

    $('#myModal1').on('show.bs.modal', function (event) {
        //var button = $(event.relatedTarget) // Button that triggered the modal
        //var recipient = button.data('whatever') // Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        //var modal = $(this)
        //modal.find('.modal-title').text(recipient)
        //modal.find('.modal-body p').text(recipient + "description")
    })

    $('#myModal2').on('show.bs.modal', function (event) {
        $.get('GetEmployeeList', function (response) {
            $('#modal2Body').html(response);
        });
    })

    $('#empBtn').click(function (event) {
        var checkedList = new Array();
        var inputs = document.getElementById('employeeList').getElementsByTagName('input');
        for (var i = 0; i < inputs.length; i++) {
            if (inputs[i].type == 'checkbox') {
                if (inputs[i].checked) {
                    checkedList.push(inputs[i].id);
                }
            }
        }
        console.log(checkedList);
        if (checkedList.length !== 0) {
            $.post('GetParticipantFromList', $.param({array:checkedList},true), function (response) {
                console.log(response);
                $('#participants').html(response);
            });
        }
        $('#myModal2').modal('hide')
    })
</script>