@model CourseRegistration.Models.Category

<ul class="breadcrumb">
    <li>@Html.ActionLink("Home","Index","Home")</li>
    <li>@Html.ActionLink("Course","Index","Course")</li>
    <li>@Html.DisplayFor(model => Model.CategoryName)</li>
</ul>

<h3 style="text-transform:uppercase;">@Model.CategoryName</h3>

<p>
    @{
        if (Model.CategoryDescription.IsEmpty())
        {
            @("The content is coming soon!");
        }
        else
        {
            Html.DisplayFor(model => Model.CategoryDescription);
        }
    }
</p>
<hr />

<h3>COURSES LIST <small>@Model.Courses.Count() courses</small></h3>

<ul class="list-group">
    @foreach (var item in Model.Courses)
    {
        
        <li>@Html.ActionLink(item.CourseTitle, "Details", "Course", new { code = item.CourseCode }, new { @class = "list-group-item" })</li>        
    }
</ul>

