@model CourseRegistration.Models.Category

<ul class="breadcrumb">
    <li>@Html.ActionLink("Home","Index","Home")</li>
    <li>@Html.ActionLink("Course","Index","Course")</li>
    <li>@Html.DisplayFor(model => Model.CategoryName)</li>
</ul>

<h3 style="text-transform:uppercase;">@Model.CategoryName</h3>

<p>
    @{
        if (Model.CategoryDescription.IsEmpty())
        {
            @("The content is coming soon!");
        }
        else
        {
            Html.DisplayFor(model => Model.CategoryDescription);
        }
    }
</p>

<h3>COURSES LIST</h3>

<div class="list-group">
    @foreach (var item in Model.Courses)
    {
        @Html.ActionLink(item.CourseTitle, "Details", "Course", new { code = item.CourseCode}, new { @class = "list-group-item" })
        @*<a class="list-group-item" href="" data-toggle="modal" data-target="#myModal" data-whatever="@item">@item.CourseTitle</a>*@
    }
</div>

@*<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">View Upcoming Class</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<script>
    $('#myModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var recipient = button.data('whatever') // Extract info from data-* attributes

        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this)
        modal.find('.modal-title').text('New message to ' + recipient.CourseTitle)
        modal.find('.modal-body p').text(recipient.Description)
    })
</script>*@