@model IEnumerable<CourseRegistration.Models.Course>
@using CourseRegistration.Models

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CourseTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfDays)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>     
        <td>
            @Html.ActionLink(item.CourseTitle, "Details", new { id=item.CourseCode})
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfDays)
        </td>       
    </tr>
}

</table>
